* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
img,
video {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
  font-size: 22px;
  line-height: 100%;
}

.navigation-rail {
  box-shadow: 2px 0px 6px 0px #00000040;
  background: #FFFFFF;
  padding: 50px 20px;
  height: 100vh;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-group,
.bottom-group {
  width: 160px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.top-group a{
  color:#754FF6;
}
.bottom-group a{
  color:#E5807C;
}